* {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3 {
  color: #2d314d;
  font-weight: 400;
}

h1,
h2 {
  padding-bottom: .5em;
}

h2 {
  font-size: 2.5em;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7em;
  color: #9698a6;
}

div {
  position: relative;
}

div button {
  font-size: .9em;
  height: 48px;
  width: 175px;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
}

div button:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  opacity: 35%;
  width: 175px;
  height: 48px;
  border-radius: 10rem;
  background-color: #f3f4f6;
}

nav {
  width: 100%;
  height: 5.5rem;
  position: absolute;
  z-index: 100;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

nav ul li a {
  color: #9698a6;
  text-decoration: none;
}

nav ul li a:hover {
  color: #2d314d;
}

main .first {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
}

main .first article:first-child {
  width: 43%;
  height: 50%;
  padding-left: 12.5%;
  margin-top: 9rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first article:first-child h1 {
  min-width: 7.5em;
  font-size: 3.5em;
}

main .first article:first-child p {
  min-width: 21.5em;
  font-size: 1.15em;
  padding-bottom: 8%;
}

main .first div:nth-child(2) {
  height: 118%;
  width: 57%;
  background-image: url(../assets/img/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 153%;
  background-position: bottom left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .first div:nth-child(2) .mockups {
  height: 60em;
  width: 75.1%;
  background-image: url(../assets/img/image-mockups.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  top: -4%;
  z-index: 2;
}

main .second {
  min-height: 95vh;
  z-index: 1;
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .second article:first-child {
  width: 45%;
  margin-left: 12.5%;
  padding-bottom: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .second article:first-child h2 {
  font-size: 2.5em;
}

main .second article:first-child p {
  font-size: 1.13em;
}

main .second .articles {
  padding: 0 12.5%;
  height: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5%;
}

main .second .articles section {
  height: 18em;
  min-width: 10em;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .second .articles section img {
  width: 30%;
}

main .second .articles section h3 {
  font-size: 25px;
}

main .second .articles section p {
  font-size: 16px;
}

main .third {
  height: 90vh;
  background-color: #fafafa;
  padding: 0 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .third h2 {
  margin-bottom: 2.5%;
}

main .third .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5%;
}

main .third .cards article img {
  width: 100%;
  height: 12em;
  border-top-right-radius: .4em;
  border-top-left-radius: .4em;
}

main .third .cards article div {
  width: 100%;
  height: 12em;
  padding: 1em;
  background-color: white;
  border-bottom-right-radius: .4em;
  border-bottom-left-radius: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .third .cards article div span {
  font-size: .7em;
  width: 100%;
  color: #9698a6;
}

main .third .cards article div h3 {
  font-size: 1.1em;
}

main .third .cards article div h3:hover {
  fill: #31d35c;
  color: #31d35c;
  cursor: pointer;
}

main .third .cards article div p {
  font-size: .88em;
  line-height: 1.2em;
}

footer {
  height: 28vh;
  background-color: #2d314d;
  padding: 0 12.5%;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div:first-child .logo {
  width: 9em;
}

footer div:first-child .logo .fill1 {
  fill: white;
}

footer div:first-child div {
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div:first-child div section:hover {
  cursor: pointer;
}

footer div:first-child div section:hover .fill {
  fill: #31d35c;
}

footer div:nth-child(2) {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div:nth-child(2) ul li {
  color: #f3f4f6;
  list-style: none;
  line-height: 2em;
}

footer div:nth-child(2) ul li:hover {
  fill: #31d35c;
  color: #31d35c;
  cursor: pointer;
}

footer div:nth-child(2) ul:nth-child(2) {
  padding-left: 8em;
}

footer div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer div:nth-child(3) div {
  padding-bottom: 1.5em;
}

footer div:nth-child(3) span {
  font-weight: 400;
  color: #9698a6;
}

@media screen and (max-width: 1243px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .first article:first-child {
    padding-left: 7%;
    width: 30%;
  }
  main .first article:first-child h1 {
    font-size: 3em;
  }
  main .first article:first-child p {
    font-size: 1.2em;
    min-width: 20em;
  }
  main .first div:nth-child(2) {
    background-size: 200%;
    background-position: center left;
  }
  main .second {
    height: 125vh;
  }
  main .second article:first-child {
    margin-left: 8%;
  }
  main .second article:first-child h2 {
    font-size: 2.3em;
  }
  main .second article:first-child p {
    font-size: 1.2em;
  }
  main .second .articles {
    height: 70%;
    padding: 0 8%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
  }
  main .second .articles section {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  main .second .articles section img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 7em;
  }
  main .second .articles section h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.8em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .second .articles section p {
    width: 90%;
    font-size: 1.1em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .third {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 3% 8%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .third .cards {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main .third .cards article img {
    width: 100%;
    height: 14em;
  }
  main .third .cards article div {
    height: 10em;
  }
}

@media screen and (max-width: 1060px) {
  footer div:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer div:nth-child(2) ul:nth-child(2) {
    padding-left: 3em;
  }
}
/*# sourceMappingURL=App.css.map */