@mixin botton {
    font-size: .9em;
    height: 48px;
    width: 175px;
    font-weight: 700;
    color: $blanco;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    background-image: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);

    &:hover{
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0%;
            opacity: 35%;
            width: 175px;
            height: 48px;
            border-radius: 10rem;
            background-color: $azulGC;
        }
    }
}

@mixin hover{
    &:hover{
        fill: $verdeL;
        color: $verdeL;
        cursor: pointer;
    }
}

@mixin links{
    &:hover{
        
        &:before{
			content: '';
            position: absolute;
            bottom:0;
            left: 0;
            height:5%;
            width: 100%;
			transition: all .5s ease-in-out;
            background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        }
    }
}