//Colores
$azulO: hsl(233, 26%, 24%);
$verdeLima: hsl(136, 65%, 51%);
$cyanB: hsl(192, 70%, 51%);

//Colores neutrales
$azulG: hsl(233, 8%, 62%);
$azulGC: hsl(220, 16%, 96%);
$grisMC: hsl(0, 0%, 98%);
$blanco: hsl(0, 0%, 100%);