@import"../stylesComplementos/mixins";
@import"../stylesComplementos/variables";

main {
    .first {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        background-color: $grisMC;

        article:first-child {
            width: 43%;
            height: 50%;
            padding-left: 12.5%;
            margin-top: 9rem;

            align-self: center;
            justify-content: center;
            align-items: center;

            h1 {
                min-width: 7.5em;
                font-size: 3.5em;
            }

            p {
                min-width: 21.5em;
                font-size: 1.15em;
                padding-bottom: 8%;
            }
        }

        div:nth-child(2) {
            height: 118%;
            width: 57%;

            background-image: url(../assets/img/bg-intro-desktop.svg);
            background-repeat: no-repeat;
            background-size: 153%;
            background-position: bottom left;
            position: relative;

            display: flex;
            justify-content: flex-end;

            .mockups {
                height: 60em;
                width: 75.1%;
                background-image: url(../assets/img/image-mockups.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left top;
                top: -4%;
                z-index: 2;
            }
        }
    }

    .second {
        min-height: 95vh;
        z-index: 1;
        background-color: $azulGC;

        display: flex;
        flex-direction: column;
        justify-content: center;

        article:first-child {
            width: 45%;
            margin-left: 12.5%;
            padding-bottom: 3.5em;

            display: flex;
            flex-direction: column;

            h2 {
                font-size: 2.5em;
            }

            p {
                font-size: 1.13em;
            }
        }

        .articles {
            padding: 0 12.5%;
            height: 40%;

            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2.5%;

            section {
                height: 18em;
                min-width: 10em;
                margin: 1em 0;
                display: flex;
                justify-content: space-between;

                img {
                    width: 30%;
                }

                h3 {
                    font-size: 25px;

                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .third {
        height: 90vh;
        background-color: $grisMC;
        padding: 0 12.5%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-bottom: 2.5%;
        }

        .cards {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2.5%;

            article {

                img {
                    width: 100%;
                    height: 12em;
                    border-top-right-radius: .4em;
                    border-top-left-radius: .4em;
                }

                div {
                    width: 100%;
                    height: 12em;
                    padding: 1em;
                    background-color: $blanco;
                    border-bottom-right-radius: .4em;
                    border-bottom-left-radius: .4em;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    span {
                        font-size: .7em;
                        width: 100%;
                        color: $azulG;
                    }

                    h3 {
                        font-size: 1.1em;
                        @include hover()
                    }

                    p {
                        font-size: .88em;
                        line-height: 1.2em;
                    }
                }

            }
        }
    }

}